In [2]:
import pandas as pd
students_data = pd.read_csv("Students_Grading_Dataset.csv")
students_data.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
5,S1005,Liam,Brown,student5@university.com,Male,21,Engineering,NaN,78.85,43.53,...,67.29,62.08,B,8.5,Yes,Yes,PhD,High,1,5.0
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,No,Yes,NaN,Low,5,6.4
7,S1007,Ahmed,Smith,student7@university.com,Male,19,Engineering,51.91,45.67,73.96,...,93.24,81.93,F,27.3,Yes,No,NaN,Medium,4,4.3
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,85.97,84.42,90.87,...,94.01,95.62,A,8.0,No,No,Bachelor's,Low,9,8.8
9,S1009,Sara,Smith,student9@university.com,Female,22,Engineering,64.01,87.96,98.47,...,78.60,84.99,A,9.6,No,Yes,NaN,Medium,10,6.4

In [16]:
students_data.columns

Index(['Student_ID', 'First_Name', 'Last_Name', 'Email', 'Gender', 'Age',
       'Department', 'Attendance (%)', 'Midterm_Score', 'Final_Score',
       'Assignments_Avg', 'Quizzes_Avg', 'Participation_Score',
       'Projects_Score', 'Total_Score', 'Grade', 'Study_Hours_per_Week',
       'Extracurricular_Activities', 'Internet_Access_at_Home',
       'Parent_Education_Level', 'Family_Income_Level', 'Stress_Level (1-10)',
       'Sleep_Hours_per_Night'],
      dtype='object')

In [3]:
students_data['Department'].value_counts()

Department
CS             2022
Engineering    1469
Business       1006
Mathematics     503
Name: count, dtype: int64

In [5]:
dep_dictionary = {
    "CS":"CS",
    "Engineering":"ENG",
    "Business": " BS",
    "Mathematics" :"MTS"

    }

In [8]:
abbrvs = students_data["Department"].map(dep_dictionary)
abbrvs

0       ENG
1       ENG
2        BS
3       MTS
4        CS
       ...
4995     BS
4996     BS
4997     CS
4998     CS
4999    ENG
Name: Department, Length: 5000, dtype: object

In [9]:
abbrvs = students_data["Department"].map(dep_dictionary)
abbrvs.value_counts()

Department
CS     2022
ENG    1469
 BS    1006
MTS     503
Name: count, dtype: int64

In [13]:
students_data["Department"] = abbrvs

In [14]:
students_data.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,ENG,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,ENG,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,BS,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,MTS,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1

In [ ]:
#"Student_ID" , "Email" , "Gender" , "Age" , "Deprtment","Attendance" , midterm score , final score , total score , grade  , study hours per week , Internet_Access_at_Home , stress level ,Sleep_Hours_per_Night 

# Create a new DataFrame with only the selected columns

# Display the first few rows of the new DataFrame

In [ ]:
# Select specific columns to create a new DataFrame
columns_to_keep = [
    "Student_ID", "Email", "Gender", "Age", "Department", "Attendance (%)",
    "Midterm_Score", "Final_Score", "Total_Score", "Grade",
    "Study_Hours_per_Week", "Internet_Access_at_Home", "Stress_Level (1-10)", "Sleep_Hours_per_Night"
]
trimmed_df = students_data[columns_to_keep]

print(trimmed_df.head())

  Student_ID                    Email  Gender  Age Department  Attendance (%)  \
0      S1000  student0@university.com  Female   22        ENG           52.29
1      S1001  student1@university.com    Male   18        ENG           97.27
2      S1002  student2@university.com    Male   24         BS           57.19
3      S1003  student3@university.com  Female   24        MTS           95.15
4      S1004  student4@university.com  Female   23         CS           54.18

   Midterm_Score  Final_Score  Total_Score Grade  Study_Hours_per_Week  \
0          55.03        57.82        56.09     F                   6.2
1          97.23        45.80        50.64     A                  19.0
2          67.05        93.68        70.30     D                  20.7
3          47.79        80.63        61.63     A                  24.8
4          46.59        78.89        66.13     F                  15.4

  Internet_Access_at_Home  Stress_Level (1-10)  Sleep_Hours_per_Night
0                     Yes                    5                    4.7
1                     Yes                    4                    9.0
2                     Yes                    6                    6.2
3                     Yes                    3                    6.7
4                     Yes                    2                    7.1

In [22]:
trimmed_df.head()

,Student_ID,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,Total_Score,Grade,Study_Hours_per_Week,Internet_Access_at_Home,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,student0@university.com,Female,22,ENG,52.29,55.03,57.82,56.09,F,6.2,Yes,5,4.7
1,S1001,student1@university.com,Male,18,ENG,97.27,97.23,45.80,50.64,A,19.0,Yes,4,9.0
2,S1002,student2@university.com,Male,24,BS,57.19,67.05,93.68,70.30,D,20.7,Yes,6,6.2
3,S1003,student3@university.com,Female,24,MTS,95.15,47.79,80.63,61.63,A,24.8,Yes,3,6.7
4,S1004,student4@university.com,Female,23,CS,54.18,46.59,78.89,66.13,F,15.4,Yes,2,7.1

In [26]:
lambda x: x + 2
students_data["Age"].apply(lambda x: x + 2)

0       24
1       20
2       26
3       26
4       25
        ..
4995    21
4996    21
4997    26
4998    25
4999    23
Name: Age, Length: 5000, dtype: int64

In [29]:

square = lambda x: x * x
square(9)

81

In [57]:
nums = [4,19,7,8,15,20,22]
lambda x :x % 2
squared_nums= list(filter(lambda x: x % 2 == 0 , nums))
squared_nums

[4, 8, 20, 22]

In [59]:
def even(x):
    return x % 2 == 0
squared_nums= list(filter(even , nums))
squared_nums

[4, 8, 20, 22]

In [60]:

nums = [4,19,7,8,15,20,22]
odd_nums = list(filter(lambda x : x % 2 != 0,nums))
odd_nums

[19, 7, 15]

In [63]:
# lambada functions and list comprehensions
nums = [4,19,7,8,15,20,22]
even_nums = [x for x in nums  if (lambda x: x % 2 == 0)(x)]
even_nums

[4, 8, 20, 22]